In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/proto.txt',delimiter=',',header=0,skiprows=0,index_col=False)

In [ ]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/proto.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.mean()

In [33]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/proto.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant1']==2][df['participant2']=='different'].groupby(['n_shots']).mean().iloc[:,-3:]

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

          sim_acc   svm_acc  knn_total_acc
n_shots
1        0.518742  0.518742       0.518742
2        0.597122  0.605321       0.640980
3        0.625762  0.654876       0.723149
4        0.645529  0.685801       0.769766
5        0.650442  0.720928       0.803136

In [2]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8,0.9,128,2,5,0.0001,2,1,1,1,0.848797,0.836364,0.836364,0.836364
2,8,0.9,128,2,5,0.0001,2,1,1,1,0.848797,0.883180,0.876246,0.895863
3,8,0.9,128,2,5,0.0001,2,1,1,1,0.848797,0.899724,0.903755,0.917275
4,8,0.9,128,2,5,0.0001,2,1,1,1,0.848797,0.907342,0.918773,0.928028
5,8,0.9,128,2,5,0.0001,2,1,1,1,0.848797,0.911419,0.927920,0.934221

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8,0.9,128,2,5,0.0001,2,1,1,1,0.880035,0.818596,0.818595,0.818595
2,8,0.9,128,2,5,0.0001,2,1,1,1,0.880075,0.869213,0.860455,0.885029
3,8,0.9,128,2,5,0.0001,2,1,1,1,0.880075,0.886318,0.887424,0.907771
4,8,0.9,128,2,5,0.0001,2,1,1,1,0.880075,0.895070,0.904548,0.920051
5,8,0.9,128,2,5,0.0001,2,1,1,1,0.880075,0.901102,0.917175,0.927662

In [23]:
df['walk'].mean()

0.9689300411522633

In [6]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/proto/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc
n_shots,,,,,,,,,,,,,
1,10,0.7,128,6,7,0.0,2,4,1,1,0.124004,0.778186,0.778186
2,10,0.7,128,6,7,0.0,2,4,1,1,0.124004,0.839914,0.820315
3,10,0.7,128,6,7,0.0,2,4,1,1,0.124004,0.863467,0.857951
4,10,0.7,128,6,7,0.0,2,4,1,1,0.124004,0.874404,0.879775
5,10,0.7,128,6,7,0.0,2,4,1,1,0.124004,0.884095,0.895599

In [53]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['n_shots']==1].iloc[:,0:16][df['participant2']=='different'].mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

samples_per_class      8.000000
discount               0.900000
num_features         128.000000
num_selected           2.000000
n_support              5.000000
lambda                 0.000100
kernel1_size           2.000000
kernel2_size           1.000000
num_skip               1.000000
participant1           1.000000
test_acc               0.939166
n_shots                1.000000
sim_acc                0.590819
svm_acc                0.590819
knn_total_acc          0.590819
dtype: float64

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

samples_per_class     10.000000
discount               0.700000
num_features         128.000000
num_selected           6.000000
n_support              7.000000
lambda                 0.000000
kernel1_size           2.000000
kernel2_size           4.000000
num_skip               1.000000
participant1           0.996875
test_acc               0.146741
n_shots                5.000000
sim_acc                0.751486
svm_acc                0.786835
knn_total_acc          0.792800
dtype: float64

In [104]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.groupby('n_shots').mean().iloc[:,38:]

,knn Open Door 1,knn Close Door 1,knn Open Fridge,knn Open Dishwasher,knn Open Drawer 1,knn Open Drawer 2,knn Open Drawer 3,len_source,len_target,sim_source,sim_target,svm_source,svm_target,knn_source,knn_target
n_shots,,,,,,,,,,,,,,,
1,0.606330,0.717161,0.518984,0.467198,0.606061,0.542825,0.760424,190.0,190.0,0.562769,0.648922,0.225970,0.956061,0.666242,0.827748
2,0.664896,0.759991,0.576791,0.540145,0.676450,0.632235,0.811732,180.0,180.0,0.587447,0.637537,0.454556,0.905780,0.719505,0.856914
3,0.702508,0.773256,0.614563,0.576524,0.701363,0.670178,0.831122,170.0,170.0,0.601072,0.633822,0.580236,0.885671,0.755547,0.868804
4,0.724955,0.784708,0.634420,0.602285,0.719954,0.693179,0.841834,160.0,160.0,0.604801,0.630515,0.654938,0.879008,0.775433,0.874380
5,0.739194,0.796677,0.652645,0.623768,0.734516,0.709994,0.847786,150.0,150.0,0.605190,0.628466,0.701707,0.877124,0.790957,0.878147

In [93]:
df.columns

Index(['samples_per_class', 'discount', 'num_features', 'num_selected',
       'n_support', 'lambda', 'kernel1_size', 'kernel2_size', 'num_skip',
       'participant1', 'participant2', 'test_acc', 'n_shots', 'sim_acc',
       'svm_acc', 'knn_total_acc', 'Open Door 2', 'Close Door 2',
       'Close Fridge', 'Close Dishwasher', 'Close Drawer 1', 'Close Drawer 2',
       'Close Drawer 3', 'Clean Table', 'Drink from Cup', 'Toggle Switch',
       'sim Open Door 1', 'sim Close Door 1', 'sim Open Fridge',
       'sim Open Dishwasher', 'sim Open Drawer 1', 'sim Open Drawer 2',
       'sim Open Drawer 3', 'svm Open Door 1', 'svm Close Door 1',
       'svm Open Fridge', 'svm Open Dishwasher', 'svm Open Drawer 1',
       'svm Open Drawer 2', 'svm Open Drawer 3', 'knn Open Door 1',
       'knn Close Door 1', 'knn Open Fridge', 'knn Open Dishwasher',
       'knn Open Drawer 1', 'knn Open Drawer 2', 'knn Open Drawer 3',
       'len_source', 'len_target', 'sim_source', 'sim_target', 'svm_source',
       'svm_target', 'knn_source', 'knn_target'],
      dtype='object')

In [57]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant2']=='different'].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.488722,0.964192,0.537008,0.537008,0.537008
2,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.488722,0.964192,0.604151,0.603238,0.599907
3,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.488722,0.964192,0.638403,0.639982,0.639130
4,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.488722,0.964192,0.658029,0.665923,0.661325
5,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.488722,0.964192,0.671365,0.682599,0.679855
6,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.500000,0.955000,0.727242,0.738393,0.746836
7,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.500000,0.955000,0.729092,0.744489,0.747648
8,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.500000,0.955000,0.745228,0.754170,0.758836
9,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.500000,0.955000,0.737416,0.761874,0.766718
10,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.500000,0.955000,0.747004,0.773435,0.774547

In [52]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_noBN.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant2']=='same'].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.485149,0.936881,0.635783,0.635783,0.635783
2,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.485149,0.936881,0.696243,0.697065,0.685943
3,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.485149,0.936881,0.725138,0.725581,0.707374
4,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.485149,0.936881,0.746522,0.746441,0.723794
5,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.485149,0.936881,0.756085,0.757357,0.732617

In [41]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_2000.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant2']=='same'].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.333333,0.970556,0.627785,0.627785,0.627785
2,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.333333,0.970556,0.734745,0.729624,0.730773
3,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.333333,0.970556,0.774776,0.777177,0.757356
4,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.333333,0.970556,0.790719,0.788516,0.776768
5,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,2.333333,0.970556,0.798593,0.804489,0.788830

In [43]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant2']=='same'].groupby(['n_shots']).count()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,,
1,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133
2,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133
3,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133
4,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133
5,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133
6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
7,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
8,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
9,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [7]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant2']=='different'].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc
n_shots,,,,,,,,,,,,,
1,8,0.9,128,2,5,0.0001,2,1,1,1,0.939166,0.590819,0.590819
2,8,0.9,128,2,5,0.0001,2,1,1,1,0.939166,0.652056,0.658157
3,8,0.9,128,2,5,0.0001,2,1,1,1,0.939166,0.684155,0.700120
4,8,0.9,128,2,5,0.0001,2,1,1,1,0.939166,0.703229,0.728681
5,8,0.9,128,2,5,0.0001,2,1,1,1,0.939166,0.711986,0.745523

In [8]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant2']=='different'].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc
n_shots,,,,,,,,,,,,,
1,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,0.998008,0.944337,0.573834,0.573834
2,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,0.998008,0.944337,0.635828,0.640291
3,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,0.998008,0.944337,0.662680,0.679348
4,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,0.998008,0.944337,0.684340,0.708090
5,8.0,0.9,128.0,2.0,5.0,0.0001,2.0,1.0,1.0,0.998008,0.944337,0.692457,0.728773

In [18]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant1']==0][df['participant2']=='different'].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,8,0.9,128,2,5,0.0001,2,1,1,0,0.936778,0.613184,0.613184,0.613184
2,8,0.9,128,2,5,0.0001,2,1,1,0,0.936778,0.666885,0.678464,0.683364
3,8,0.9,128,2,5,0.0001,2,1,1,0,0.936778,0.691437,0.711609,0.713025
4,8,0.9,128,2,5,0.0001,2,1,1,0,0.936778,0.711236,0.733161,0.733159
5,8,0.9,128,2,5,0.0001,2,1,1,0,0.936778,0.724363,0.751426,0.749835

In [16]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16][df['participant1']==4][df['participant2']=='different'].groupby(['n_shots']).mean().iloc[:,11:]

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

          sim_acc   svm_acc  knn_total_acc
n_shots
1        0.531746  0.531746       0.531746
2        0.599184  0.598511       0.599857
3        0.637087  0.642720       0.630473
4        0.660215  0.666365       0.652093
5        0.672950  0.687004       0.670068

In [62]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/proto/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16].groupby(['n_shots']).mean()

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,10.0,0.7,128.0,6.0,4.917355,-1.0,2.0,4.0,1.0,1.0,0.136209,0.773331,0.773331,0.773331
2,10.0,0.7,128.0,6.0,4.917355,-1.0,2.0,4.0,1.0,1.0,0.136209,0.838084,0.819079,0.857145
3,10.0,0.7,128.0,6.0,4.917355,-1.0,2.0,4.0,1.0,1.0,0.136209,0.854493,0.855561,0.880919
4,10.0,0.7,128.0,6.0,4.925000,-1.0,2.0,4.0,1.0,1.0,0.135625,0.871456,0.882141,0.901227
5,10.0,0.7,128.0,6.0,4.925000,-1.0,2.0,4.0,1.0,1.0,0.135625,0.879522,0.898349,0.912589

In [60]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:16].groupby(['n_shots']).mean()

FileNotFoundError: [Errno 2] File b'/home/lnw8px/models/HAR_FSL/UTWENTE/base.txt' does not exist: b'/home/lnw8px/models/HAR_FSL/UTWENTE/base.txt'

In [4]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.mean()

bs                      80.000000
discount                 0.900000
num_features           128.000000
num_selected             2.000000
lambda                   0.000100
kernel1_size             2.000000
kernel2_size             1.000000
num_skip                 1.000000
participant1             2.497354
test_acc                 0.961473
n_shots                  3.000000
sim_acc                  0.693803
svm_acc                  0.694848
knn_total_acc            0.683058
Open Door 2              0.959480
Close Door 2             0.969224
Close Fridge             0.972531
Close Dishwasher         0.966226
Close Drawer 1           0.922663
Close Drawer 2           0.900750
Close Drawer 3           0.971208
Clean Table              0.994224
Drink from Cup           0.973810
Toggle Switch            0.984612
sim Open Door 1          0.708059
sim Close Door 1         0.758069
sim Open Fridge          0.634579
sim Open Dishwasher      0.567750
sim Open Drawer 1        0.715164
sim Open Drawer 2        0.645173
sim Open Drawer 3        0.827828
svm Open Door 1          0.704997
svm Close Door 1         0.756130
svm Open Fridge          0.643829
svm Open Dishwasher      0.569142
svm Open Drawer 1        0.716336
svm Open Drawer 2        0.644410
svm Open Drawer 3        0.829095
knn Open Door 1          0.697632
knn Close Door 1         0.749657
knn Open Fridge          0.602219
knn Open Dishwasher      0.569225
knn Open Drawer 1        0.696595
knn Open Drawer 2        0.642444
knn Open Drawer 3        0.823631
len_source             170.000000
len_target             170.000000
sim_source               0.596258
sim_target               0.636094
knn_source               0.738208
knn_target               0.861998
dtype: float64

In [51]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/proto/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
#df[df['svm_source']=='False']=0.0
#df[df['svm_target']=='False']=0.0
#df[df['svm_source']=='True']=1.0
#df[df['svm_target']=='True']=1.0
df[df['n_shots']==5].mean()

samples_per_class       10.000000
discount                 0.700000
num_features           128.000000
num_selected             6.000000
n_support                4.543307
lambda                  -1.000000
kernel1_size             2.000000
kernel2_size             4.000000
num_skip                 1.000000
participant1             2.488189
test_acc                 0.105000
n_shots                  5.000000
sim_acc                  0.698529
svm_acc                  0.708061
knn_total_acc            0.695745
Open Door 2              0.127559
Close Door 2             0.108661
Close Fridge             0.086220
Close Dishwasher         0.111024
Close Drawer 1           0.125591
Close Drawer 2           0.105512
Close Drawer 3           0.090551
Clean Table              0.099606
Drink from Cup           0.098425
Toggle Switch            0.096850
sim Open Door 1          0.738037
sim Close Door 1         0.802129
sim Open Fridge          0.627403
sim Open Dishwasher      0.540190
sim Open Drawer 1        0.719498
sim Open Drawer 2        0.633445
sim Open Drawer 3        0.829002
svm Open Door 1          0.751740
svm Close Door 1         0.802378
svm Open Fridge          0.652458
svm Open Dishwasher      0.556051
svm Open Drawer 1        0.732100
svm Open Drawer 2        0.640776
svm Open Drawer 3        0.820923
knn Open Door 1          0.726564
knn Close Door 1         0.786613
knn Open Fridge          0.608687
knn Open Dishwasher      0.567368
knn Open Drawer 1        0.708822
knn Open Drawer 2        0.668898
knn Open Drawer 3        0.803259
len_source             150.000000
len_target             150.000000
sim_source               0.586929
sim_target               0.620840
svm_source               0.650604
svm_target               0.889396
knn_source               0.781837
knn_target               0.847612
dtype: float64

In [37]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/test_opp.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['svm_source']=='False']=0.0
df[df['svm_target']=='False']=0.0
df[df['svm_source']=='True']=1.0
df[df['svm_target']=='True']=1.0

In [41]:
df

,samples_per_class,discount,num_features,num_selected,n_support,lambda,kernel1_size,kernel2_size,num_skip,participant1,...,knn Open Drawer 2,knn Open Drawer 3,len_source,len_target,sim_source,sim_target,svm_source,svm_target,knn_source,knn_target
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0,0,0.000000,0.000000
1,10.0,0.7,128.0,6.0,1.0,-1.0,2.0,4.0,1.0,1.0,...,0.464286,0.916667,180.0,180.0,0.544444,0.516667,0.022222222222222223,1.0,0.744444,0.755556
2,10.0,0.7,128.0,6.0,1.0,-1.0,2.0,4.0,1.0,1.0,...,0.590361,0.879518,170.0,170.0,0.458824,0.547059,0.11764705882352941,0.9823529411764705,0.752941,0.800000
3,10.0,0.7,128.0,6.0,1.0,-1.0,2.0,4.0,1.0,1.0,...,0.573171,0.878049,160.0,160.0,0.462500,0.587500,0.43125,0.95625,0.737500,0.825000
4,10.0,0.7,128.0,6.0,1.0,-1.0,2.0,4.0,1.0,1.0,...,0.864198,0.876543,150.0,150.0,0.440000,0.586667,0.5466666666666666,0.9066666666666666,0.726667,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0,0,0.000000,0.000000
76,10.0,0.7,128.0,6.0,2.0,-1.0,2.0,4.0,1.0,4.0,...,0.610169,0.898305,180.0,180.0,0.694444,0.611111,0.4722222222222222,0.9944444444444445,0.722222,0.900000
77,10.0,0.7,128.0,6.0,2.0,-1.0,2.0,4.0,1.0,4.0,...,0.275862,0.931034,170.0,170.0,0.694118,0.611765,0.6941176470588235,0.9882352941176471,0.776471,0.917647
78,10.0,0.7,128.0,6.0,2.0,-1.0,2.0,4.0,1.0,4.0,...,0.596491,0.929825,160.0,160.0,0.681250,0.618750,0.8,0.975,0.825000,0.918750
79,10.0,0.7,128.0,6.0,2.0,-1.0,2.0,4.0,1.0,4.0,...,0.678571,0.821429,150.0,150.0,0.720000,0.640000,0.82,0.9933333333333333,0.860000,0.920000

In [42]:
df['samples_per_class'].values

array([ 0., 10., 10., 10., 10.,  0., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10.,  0., 10., 10., 10., 10., 10.,
       10., 10., 10., 10.,  0., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  0., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  0., 10., 10.,
       10., 10.])

In [91]:
df.loc[df.svm_source=='False']='0'
np.mean([float(item) for item in df['svm_source']]),np.mean([float(item) for item in df['svm_target']])

(0.21795228812772674, 0.8148055323493919)

In [49]:
df.iloc[:,-10:]

,knn Open Drawer 2,knn Open Drawer 3,len_source,len_target,sim_source,sim_target,svm_source,svm_target,knn_source,knn_target
0,0.588235,0.776471,190,190,0.352632,0.742105,0.11052631578947368,0.9842105263157894,0.863158,0.747368
1,0.571429,0.773810,180,180,0.372222,0.711111,0.21666666666666667,0.8722222222222222,0.777778,0.783333
2,0.662651,0.783133,170,170,0.470588,0.570588,0.35294117647058826,0.9117647058823529,0.835294,0.805882
3,0.634146,0.780488,160,160,0.393750,0.618750,0.4625,0.925,0.793750,0.837500
4,0.679012,0.790123,150,150,0.413333,0.606667,0.5266666666666666,0.9466666666666667,0.773333,0.866667
...,...,...,...,...,...,...,...,...,...,...
5665,0.483146,0.606742,190,190,0.742105,0.626316,0.6421052631578947,0.8473684210526315,0.821053,0.773684
5666,0.613636,0.840909,180,180,0.733333,0.638889,0.8277777777777777,0.8722222222222222,0.900000,0.816667
5667,0.643678,0.885057,170,170,0.758824,0.670588,0.8941176470588236,0.8294117647058824,0.852941,0.864706
5668,0.686047,0.941860,160,160,0.743750,0.693750,0.925,0.85,0.875000,0.862500
5669,0.658824,0.941176,150,150,0.760000,0.693333,0.8866666666666667,0.9133333333333333,0.866667,0.853333

In [62]:
def to_float(val):
    return float(val)

In [ ]:
df['svm_source'].mean()

In [64]:
i

20

In [67]:
df.iloc[i,:]['svm_source']

'False'

In [ ]:
for i,val in enumerate(df['svm_source']):
    print(to_float(val))

In [76]:
np.mean([float(item) for item in df['svm_source']]),np.mean([float(item) for item in df['svm_target']])

(0.5171196618998476, 0.871559347412346)

In [79]:
len([float(item) for item in df['svm_source']]),len([float(item) for item in df['svm_target']])

(5670, 5670)

In [56]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_best.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==4][df['participant2']=='different'].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,
1,80,0.9,128,2,0.0001,2,1,1,4,0.952941,0.324773,0.324773,0.324773
2,80,0.9,128,2,0.0001,2,1,1,4,0.952941,0.366810,0.421053,0.443072
3,80,0.9,128,2,0.0001,2,1,1,4,0.952941,0.541240,0.543396,0.477089
4,80,0.9,128,2,0.0001,2,1,1,4,0.952941,0.533550,0.555195,0.475108
5,80,0.9,128,2,0.0001,2,1,1,4,0.952941,0.541554,0.557306,0.501358

In [45]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_128_2.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==2][df['participant2']=='different'].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,
1,80,0.9,128,2,0.0001,2,1,1,2,0.987654,0.419829,0.419829,0.419829
2,80,0.9,128,2,0.0001,2,1,1,2,0.987654,0.442670,0.443511,0.453128
3,80,0.9,128,2,0.0001,2,1,1,2,0.987654,0.451350,0.455287,0.463817
4,80,0.9,128,2,0.0001,2,1,1,2,0.987654,0.471391,0.484472,0.489930
5,80,0.9,128,2,0.0001,2,1,1,2,0.987654,0.495370,0.508031,0.509732

In [38]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_128.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==4][df['participant2']=='different'].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,
1,80,0.9,128,2,0.0001,2,1,1,4,0.941923,0.367576,0.367576,0.367576
2,80,0.9,128,2,0.0001,2,1,1,4,0.941923,0.409595,0.411386,0.436627
3,80,0.9,128,2,0.0001,2,1,1,4,0.941923,0.410063,0.418149,0.466846
4,80,0.9,128,2,0.0001,2,1,1,4,0.941923,0.426227,0.449495,0.476190
5,80,0.9,128,2,0.0001,2,1,1,4,0.941923,0.443962,0.458628,0.479269

In [41]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/pamap2/eval_1000.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==2][df['participant2']=='same'].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,
1,56,0.9,64,2,0.0001,2,1,1,2,0.956792,0.619481,0.619481,0.619481
2,56,0.9,64,2,0.0001,2,1,1,2,0.956792,0.701679,0.727372,0.732991
3,56,0.9,64,2,0.0001,2,1,1,2,0.956792,0.719437,0.768201,0.790385
4,56,0.9,64,2,0.0001,2,1,1,2,0.956792,0.743064,0.797040,0.834699
5,56,0.9,64,2,0.0001,2,1,1,2,0.956792,0.750587,0.793651,0.844651

In [38]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/tune.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15].groupby('kernel2_size').mean()

,bs,discount,num_features,num_selected,lambda,kernel1_size,num_skip,participant1,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
kernel2_size,,,,,,,,,,,,,
1,80.0,0.9,256.0,2.0,0.0001,1.0,1.0,2.5,0.968794,3.0,0.584049,0.582468,0.571107
2,80.0,0.9,256.0,2.0,0.0001,1.0,1.0,2.5,0.962746,3.0,0.599132,0.596549,0.594330
3,80.0,0.9,256.0,2.0,0.0001,1.0,1.0,2.5,0.958363,3.0,0.590650,0.591128,0.572635

In [25]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval_nostd_new.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==4][df['participant2']=='same'].groupby(['n_shots']).count()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,100,100,100,100,100,100,100,100,100,100,100,100,100,100
2,100,100,100,100,100,100,100,100,100,100,100,100,100,100
3,100,100,100,100,100,100,100,100,100,100,100,100,100,100
4,100,100,100,100,100,100,100,100,100,100,100,100,100,100
5,100,100,100,100,100,100,100,100,100,100,100,100,100,100

In [46]:
df

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,...,knn Open Drawer 2,knn Open Drawer 3,len_source,len_target,sim_source,sim_target,svm_source,svm_target,knn_source,knn_target
0,80,0.9,256,2,0.0001,2,1,1,1,same,...,0.764706,0.647059,1067,1067,0.543580,0.882849,False,True,0.670103,0.927835
1,80,0.9,256,2,0.0001,2,1,1,1,same,...,0.833333,0.642857,1060,1060,0.550943,0.897170,0.15754716981132075,0.9858490566037735,0.702830,0.916981
2,80,0.9,256,2,0.0001,2,1,1,1,same,...,0.795181,0.746988,1053,1053,0.581197,0.892688,0.553656220322887,0.9534662867996201,0.755935,0.912631
3,80,0.9,256,2,0.0001,2,1,1,1,same,...,0.756098,0.756098,1046,1046,0.574570,0.900574,0.6022944550669216,0.9541108986615678,0.755258,0.917782
4,80,0.9,256,2,0.0001,2,1,1,1,same,...,0.753086,0.777778,1039,1039,0.561116,0.909528,0.6207892204042348,0.9624639076034649,0.763234,0.916266

In [30]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==4][df['participant1']==df['participant2']].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,80,0.9,256,2,0.0001,2,1,1,4,4,0.944022,0.604505,0.604505,0.604505
2,80,0.9,256,2,0.0001,2,1,1,4,4,0.944022,0.688322,0.686571,0.682324
3,80,0.9,256,2,0.0001,2,1,1,4,4,0.944022,0.726525,0.725047,0.720614
4,80,0.9,256,2,0.0001,2,1,1,4,4,0.944022,0.750800,0.751610,0.741392
5,80,0.9,256,2,0.0001,2,1,1,4,4,0.944022,0.766484,0.774294,0.756436

In [28]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/opp/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:15][df['participant1']==3][df['participant1']==df['participant2']].groupby(['n_shots']).count()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,num_features,num_selected,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,,,
1,65,65,65,65,65,65,65,65,65,65,65,65,65,65
2,65,65,65,65,65,65,65,65,65,65,65,65,65,65
3,65,65,65,65,65,65,65,65,65,65,65,65,65,65
4,65,65,65,65,65,65,65,65,65,65,65,65,65,65
5,65,65,65,65,65,65,65,65,65,65,65,65,65,65

In [30]:
df=pd.read_csv('/home/lnw8px/models/HAR_FSL/UTWENTE/num_selected_tune.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:14].groupby(['num_selected']).mean()

,bs,discount,num_features,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc
num_selected,,,,,,,,,,,,,
2,64.0,0.9,256.0,0.0001,2.0,1.0,12.875000,1.0,1.0,0.875992,3.0,0.868733,0.874454
3,64.0,0.9,256.0,0.0001,2.0,1.0,12.875000,1.0,1.0,0.849206,3.0,0.866627,0.866785
4,64.0,0.9,256.0,0.0001,2.0,1.0,12.875000,1.0,1.0,0.822917,3.0,0.865567,0.868455
5,64.0,0.9,256.0,0.0001,2.0,1.0,12.875000,1.0,1.0,0.783234,3.0,0.852399,0.854661
6,64.0,0.9,256.0,0.0001,2.0,1.0,12.875000,1.0,1.0,0.673611,3.0,0.834802,0.834990
7,64.0,0.9,256.0,0.0001,2.0,1.0,13.090909,1.0,1.0,0.216162,3.0,0.772546,0.751087

In [7]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/PAMP2/skip_serial_FCNN.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13].groupby(['num_skip','lambda']).mean()

                    bs  discount  kernel1_size  kernel2_size  participant1  \
num_skip lambda
5        0.00001  60.0       0.6           2.0           1.0      1.000000
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000
10       0.00001  60.0       0.6           2.0           1.0      1.000000
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000
15       0.00001  60.0       0.6           2.0           1.0      1.000000
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000
20       0.00001  60.0       0.6           2.0           1.0      0.857143
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000
25       0.00001  60.0       0.6           2.0           1.0      1.000000
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000
30       0.00001  60.0       0.6           2.0           1.0      1.000000
         0.00010  60.0       0.6           2.0           1.0      1.000000
         0.00100  60.0       0.6           2.0           1.0      1.000000

                  participant2  test_acc  n_shots   sim_acc   svm_acc  \
num_skip lambda
5        0.00001           1.0  0.934613      3.0  0.676835  0.689235
         0.00010           1.0  0.935198      3.0  0.683417  0.700635
         0.00100           1.0  0.933027      3.0  0.691364  0.698584
10       0.00001           1.0  0.933428      3.0  0.695147  0.705719
         0.00010           1.0  0.934297      3.0  0.690171  0.700116
         0.00100           1.0  0.933571      3.0  0.666479  0.675093
15       0.00001           1.0  0.934060      3.0  0.693945  0.705879
         0.00010           1.0  0.934469      3.0  0.681602  0.692718
         0.00100           1.0  0.933444      3.0  0.682435  0.693100
20       0.00001           1.0  0.932207      3.0  0.693046  0.697307
         0.00010           1.0  0.932646      3.0  0.682259  0.690551
         0.00100           1.0  0.932037      3.0  0.702462  0.710582
25       0.00001           1.0  0.933912      3.0  0.678415  0.694074
         0.00010           1.0  0.933811      3.0  0.699087  0.708108
         0.00100           1.0  0.931279      3.0  0.683716  0.697552
30       0.00001           1.0  0.934927      3.0  0.704073  0.715157
         0.00010           1.0  0.933239      3.0  0.678754  0.696270
         0.00100           1.0  0.936181      3.0  0.682762  0.693194

                  knn_total_acc
num_skip lambda
5        0.00001       0.714744
         0.00010       0.714689
         0.00100       0.725539
10       0.00001       0.724551
         0.00010       0.711030
         0.00100       0.701773
15       0.00001       0.722996
         0.00010       0.713172
         0.00100       0.702008
20       0.00001       0.719417
         0.00010       0.718392
         0.00100       0.717529
25       0.00001       0.715501
         0.00010       0.723488
         0.00100       0.714241
30       0.00001       0.725433
         0.00010       0.715108
         0.00100       0.716572

In [8]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/PAMP2/base_serial_FCNN.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13].groupby(['bs']).mean()

,discount,lambda,kernel1_size,kernel2_size,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,lying
bs,,,,,,,,,,,,
60,0.6,0.0,2.0,1.0,0.992312,0.999487,0.951047,2.998975,0.659597,0.6758,0.695296,0.942698

In [10]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/skip_serial_FCNN.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13].groupby(['num_skip','lambda']).mean()

                    bs  discount  kernel1_size  kernel2_size  participant1  \
num_skip lambda
5        0.00001  60.0       0.6           2.0           1.0      2.500000
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000
10       0.00001  60.0       0.6           2.0           1.0      2.385650
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000
15       0.00001  60.0       0.6           2.0           1.0      2.173913
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000
20       0.00001  60.0       0.6           2.0           1.0      2.500000
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000
25       0.00001  60.0       0.6           2.0           1.0      2.500000
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000
30       0.00001  60.0       0.6           2.0           1.0      2.500000
         0.00010  60.0       0.6           2.0           1.0      2.500000
         0.00100  60.0       0.6           2.0           1.0      2.500000

                  participant2  test_acc   n_shots   sim_acc   svm_acc  \
num_skip lambda
5        0.00001      2.500000  0.942365  3.000000  0.614404  0.613793
         0.00010      2.500000  0.940137  3.000000  0.619221  0.622005
         0.00100      2.500000  0.938563  3.000000  0.617973  0.619632
10       0.00001      2.479821  0.937997  2.986547  0.621856  0.623881
         0.00010      2.500000  0.933664  3.000000  0.628576  0.625583
         0.00100      2.500000  0.933728  3.000000  0.632625  0.632993
15       0.00001      2.434783  0.940962  3.000000  0.616651  0.617565
         0.00010      2.500000  0.950408  3.000000  0.591711  0.594327
         0.00100      2.500000  0.953064  3.000000  0.619009  0.623863
20       0.00001      2.500000  0.950577  3.000000  0.603886  0.615540
         0.00010      2.500000  0.951199  3.000000  0.609951  0.613933
         0.00100      2.500000  0.950552  3.000000  0.613696  0.611714
25       0.00001      2.500000  0.954116  3.000000  0.611593  0.618285
         0.00010      2.500000  0.954602  3.000000  0.585793  0.592869
         0.00100      2.500000  0.951976  3.000000  0.586106  0.589064
30       0.00001      2.500000  0.951690  3.000000  0.607926  0.613951
         0.00010      2.500000  0.949366  3.000000  0.598004  0.596070
         0.00100      2.500000  0.953246  3.000000  0.591961  0.597404

                  knn_total_acc
num_skip lambda
5        0.00001       0.616076
         0.00010       0.624394
         0.00100       0.624022
10       0.00001       0.620198
         0.00010       0.626266
         0.00100       0.634462
15       0.00001       0.620836
         0.00010       0.611544
         0.00100       0.631662
20       0.00001       0.630024
         0.00010       0.623533
         0.00100       0.629195
25       0.00001       0.637908
         0.00010       0.619457
         0.00100       0.604950
30       0.00001       0.627676
         0.00010       0.614794
         0.00100       0.623087

In [8]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/base_serial_FCNN.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13].groupby(['bs']).mean()

,discount,lambda,kernel1_size,kernel2_size,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,Open Door 2
bs,,,,,,,,,,,,
60,0.6,0.0,2.0,1.0,2.484536,2.5,0.95891,3.0,0.5956,0.598025,0.610294,0.910267

In [14]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/skip.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13][df['participant1']==4][df['participant1']!=df['participant2']].groupby(['n_shots']).count()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,
1,237,237,237,237,237,237,237,237,237,237,237,237
2,237,237,237,237,237,237,237,237,237,237,237,237
3,237,237,237,237,237,237,237,237,237,237,237,237
4,237,237,237,237,237,237,237,237,237,237,237,237
5,237,237,237,237,237,237,237,237,237,237,237,237

In [16]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13][df['participant1']==4][df['participant1']!=df['participant2']].groupby(['n_shots']).count()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,lambda,kernel1_size,kernel2_size,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,Open Door 2
n_shots,,,,,,,,,,,,
1,51,51,51,51,51,51,51,51,51,51,51,51
2,51,51,51,51,51,51,51,51,51,51,51,51
3,51,51,51,51,51,51,51,51,51,51,51,51
4,51,51,51,51,51,51,51,51,51,51,51,51
5,51,51,51,51,51,51,51,51,51,51,51,51

In [9]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/UTWENTE_tune/skip.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13][df['lambda']==0.0001][df['num_skip']==20].groupby(['n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,lambda,kernel1_size,kernel2_size,num_skip,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,
1,60,0.6,0.0001,2,1,20,1,1,0.716049,0.774089,0.774089,0.774089
2,60,0.6,0.0001,2,1,20,1,1,0.716049,0.827330,0.822297,0.864989
3,60,0.6,0.0001,2,1,20,1,1,0.716049,0.876752,0.843997,0.902444
4,60,0.6,0.0001,2,1,20,1,1,0.716049,0.890307,0.869777,0.922795
5,60,0.6,0.0001,2,1,20,1,1,0.716049,0.892910,0.861500,0.922938

In [23]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/UTWENTE_tune/eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13].groupby('lambda').mean()

,bs,discount,kernel1_size,kernel2_size,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,walk
lambda,,,,,,,,,,,,
0.0005,60.0,0.6,2.0,1.0,1.0,1.0,0.624043,2.997449,0.795293,0.78718,0.826346,0.82568

In [6]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/UTWENTE_tune/test.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:13][df['lambda']==0.00001].groupby('n_shots').mean()

,bs,discount,lambda,kernel1_size,kernel2_size,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,walk
n_shots,,,,,,,,,,,,
1,60,0.6,0.00001,2,1,1,1,0.75,0.868642,0.868642,0.868642,0.666667
2,60,0.6,0.00001,2,1,1,1,0.75,0.755369,0.674161,0.886465,0.666667
3,60,0.6,0.00001,2,1,1,1,0.75,0.733184,0.737997,0.897370,0.666667
4,60,0.6,0.00001,2,1,1,1,0.75,0.715901,0.712206,0.899552,0.666667
5,60,0.6,0.00001,2,1,1,1,0.75,0.721120,0.742633,0.902409,0.666667

In [20]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/UTWENTE_tune/base_segment_10_2.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12].groupby('n_shots').mean()

,bs,discount,lambda,kernel1_size,kernel2_size,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,
1,60,0.6,0,2,1,1,1,0.950897,0.837749,0.837749,0.837749
2,60,0.6,0,2,1,1,1,0.950897,0.889154,0.885058,0.912036
3,60,0.6,0,2,1,1,1,0.950897,0.907185,0.915757,0.938693
4,60,0.6,0,2,1,1,1,0.950897,0.914459,0.933733,0.947432
5,60,0.6,0,2,1,1,1,0.950897,0.922702,0.943810,0.954137

In [27]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/tune_relu.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12].groupby('bs').mean()

,discount,lambda,kernel_size,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,Open Door 2
bs,,,,,,,,,,,
60,0.6,0.0005,1.0,2.449612,2.478036,0.950493,2.992248,0.600861,0.607009,0.618422,0.852327

In [23]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/tune_kernel_2.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12].groupby(['kernel_size','bs']).mean()

,,discount,lambda,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,Open Door 2
kernel_size,bs,,,,,,,,,,
1,60,0.6,0.0005,2.469388,2.479592,0.951379,3.000000,0.610305,0.619585,0.634560,0.856725
2,60,0.6,0.0005,2.500000,2.500000,0.952644,3.000000,0.604234,0.608910,0.618848,0.852446
3,60,0.6,0.0005,2.500000,2.500000,0.952307,3.000000,0.594064,0.598668,0.613435,0.857733
4,60,0.6,0.0005,2.500000,2.500000,0.953624,3.000000,0.603716,0.605863,0.616088,0.863842
5,60,0.6,0.0005,2.500000,2.500000,0.952829,3.000000,0.591143,0.599116,0.613146,0.853323
6,60,0.6,0.0005,2.477833,2.480296,0.953989,2.995074,0.600407,0.605108,0.617312,0.855509
7,60,0.6,0.0005,2.500000,2.500000,0.952809,3.000000,0.591241,0.597200,0.600881,0.855565

In [19]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/tune_kernel_2.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12][df['kernel_size']==1][df['participant1']==4][df['participant1']!=df['participant2']].groupby('n_shots').mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,lambda,kernel_size,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,Open Door 2
n_shots,,,,,,,,,,,
1,60,0.6,0.0005,1,4,2,0.937466,0.510473,0.510473,0.510473,0.868783
2,60,0.6,0.0005,1,4,2,0.937466,0.576089,0.574976,0.602968,0.868783
3,60,0.6,0.0005,1,4,2,0.937466,0.604085,0.605237,0.635678,0.868783
4,60,0.6,0.0005,1,4,2,0.937466,0.616669,0.633126,0.667619,0.868783
5,60,0.6,0.0005,1,4,2,0.937466,0.620315,0.650435,0.679026,0.868783

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/OPP_tune/tune_kernel_2.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12][df['participant1']==3][df['participant1']==df['participant2']].groupby('n_shots').mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,discount,lambda,kernel_size,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,Open Door 2
n_shots,,,,,,,,,,,
1,60.0,0.6,0.0005,3.875,3.0,3.0,0.947622,0.661477,0.661477,0.661477,0.807764
2,60.0,0.6,0.0005,3.875,3.0,3.0,0.947622,0.733157,0.727192,0.728369,0.807764
3,60.0,0.6,0.0005,3.875,3.0,3.0,0.947622,0.762685,0.758539,0.760427,0.807764
4,60.0,0.6,0.0005,3.875,3.0,3.0,0.947622,0.774958,0.780357,0.781935,0.807764
5,60.0,0.6,0.0005,3.875,3.0,3.0,0.947622,0.790084,0.796176,0.791891,0.807764

In [ ]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/Few_Shot_Learning/PAMAP2_eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:20].groupby('bs').mean()

In [120]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12][df['lambda']==0.0001][df['participant1']==3][df['participant1']==df['participant2']].groupby('n_shots').mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,num_features,lambda,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,Close Dishwasher,Close Drawer 3
n_shots,,,,,,,,,,,
1,64,128,0.0001,3,3,0.868034,0.548944,0.548944,0.548944,0.696762,0.844252
2,64,128,0.0001,3,3,0.868034,0.602098,0.609441,0.609231,0.696762,0.844252
3,64,128,0.0001,3,3,0.868034,0.628217,0.640544,0.639750,0.696762,0.844252
4,64,128,0.0001,3,3,0.868034,0.640204,0.665248,0.660045,0.696762,0.844252
5,64,128,0.0001,3,3,0.868034,0.650638,0.677052,0.671640,0.696762,0.844252

In [118]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12][df['participant1']==3][df['participant1']==df['participant2']].groupby('n_shots').mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,num_features,lambda,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc,Close Dishwasher,Close Drawer 3
n_shots,,,,,,,,,,,
1,64,128,0,3,3,0.882963,0.486882,0.486882,0.486882,0.756427,0.881415
2,64,128,0,3,3,0.882963,0.532172,0.542374,0.555152,0.756427,0.881415
3,64,128,0,3,3,0.882963,0.573187,0.578717,0.587898,0.756427,0.881415
4,64,128,0,3,3,0.882963,0.587594,0.592611,0.604315,0.756427,0.881415
5,64,128,0,3,3,0.882963,0.591904,0.612563,0.621496,0.756427,0.881415

In [123]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_interval_new.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['interval']==15][df['participant1']==1][df['participant1']==df['participant2']].iloc[:,0:13].groupby('n_shots').mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,num_features,lambda,nothing,interval,participant1,participant2,num_selected,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,,,,
1,64,128,0.00005,NaN,15,1,1,5,0.753968,0.614853,0.614853,0.614853
2,64,128,0.00005,NaN,15,1,1,5,0.753968,0.673882,0.681606,0.697164
3,64,128,0.00005,NaN,15,1,1,5,0.753968,0.685268,0.710926,0.747809
4,64,128,0.00005,NaN,15,1,1,5,0.753968,0.696786,0.724779,0.776037
5,64,128,0.00005,NaN,15,1,1,5,0.753968,0.710290,0.730540,0.784975

In [71]:
p=2
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_interval_new.txt',delimiter=',',header=0,skiprows=0,index_col=False)
print(df[df['interval']==20][df['participant1']==p][df['participant1']==df['participant2']].iloc[:,0:13].groupby('participant1').mean())

df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
print(df.iloc[:,0:12][df['participant1']==p][df['participant1']==df['participant2']].groupby(['participant1']).mean())

              bs  num_features   lambda  nothing  interval  participant2  \
participant1
2             64           128  0.00006      NaN        20             2

              num_selected  test_acc  n_shots   sim_acc   svm_acc  \
participant1
2                        5    0.5625        3  0.720582  0.720005

              knn_total_acc
participant1
2                   0.76742
                     bs  num_features  lambda  participant2  num_selected  \
participant1
2             38.342342         128.0     0.0           2.0           5.0

              test_acc  n_shots  sim_acc   svm_acc  knn_total_acc
participant1
2             0.658221      3.0  0.75128  0.749922       0.765014

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()
/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [77]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_interval_new.txt',delimiter=',',header=0,skiprows=0,index_col=False)
print(df[df['interval']==10].iloc[:,0:13].groupby('bs').mean())

df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
print(df.iloc[:,0:12].groupby(['bs']).mean())

    num_features    lambda  nothing  interval  participant1  participant2  \
bs
64         128.0  0.000053      NaN      10.0      0.947368           1.0

    num_selected  test_acc  n_shots   sim_acc   svm_acc  knn_total_acc
bs
64           5.0  0.729162      3.0  0.725804  0.726616        0.76593
    num_features  lambda  participant1  participant2  num_selected  test_acc  \
bs
32         128.0     0.0      0.995031      0.998758           5.0  0.685315
64         128.0     0.0      0.985149      0.995050           5.0  0.670858

    n_shots   sim_acc   svm_acc  knn_total_acc
bs
32      3.0  0.752615  0.747271       0.771033
64      3.0  0.756869  0.751760       0.778926

In [44]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12][df['participant1']==2][df['participant1']==df['participant2']].groupby(['participant1']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,bs,num_features,lambda,participant2,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
participant1,,,,,,,,,,
2,38.342342,128.0,0.0,2.0,5.0,0.658221,3.0,0.75128,0.749922,0.765014

In [54]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_tune_interval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df.iloc[:,0:12].groupby('interval').mean()

,bs,num_features,lambda,participant1,participant2,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
interval,,,,,,,,,,,
5,64,128,0.0001,0,0,5,0.624037,3,0.805367,0.800015,0.806622
10,64,128,0.0001,0,0,5,0.546995,3,0.806614,0.806375,0.808135
15,64,128,0.0001,0,0,5,0.542373,3,0.787997,0.781649,0.790422
20,64,128,0.0001,0,0,5,0.522342,3,0.781267,0.770916,0.780432
25,64,128,0.0001,0,0,5,0.547458,3,0.766529,0.756578,0.775848
100,64,128,0.0001,0,0,5,0.489831,3,0.717684,0.703667,0.727101
200,64,128,0.0001,0,0,5,0.425424,3,0.691549,0.682869,0.707316

In [75]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_interval_new.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['interval']==5].iloc[:,0:13].groupby('participant1').mean()

,bs,num_features,lambda,nothing,interval,participant2,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
participant1,,,,,,,,,,,,
0,64.0,128.0,0.0001,NaN,5.0,0.9,5.0,0.750000,3.0,0.692737,0.695632,0.744755
1,64.0,128.0,0.0001,NaN,5.0,1.0,5.0,0.793651,3.0,0.685564,0.709495,0.783138
2,64.0,128.0,0.0001,NaN,5.0,1.0,5.0,0.826389,3.0,0.847364,0.848387,0.857978

In [15]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['']].iloc[:,0:12].groupby(['participant1']).mean()

,bs,num_features,lambda,participant2,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
participant1,,,,,,,,,,
0,38.494118,128.0,0.0,0.997059,5.0,0.700267,3.0,0.742671,0.732605,0.767195
1,38.419162,128.0,0.0,0.997006,5.0,0.690048,3.0,0.764393,0.760131,0.783796
2,38.342342,128.0,0.0,1.000000,5.0,0.656532,3.0,0.753536,0.752069,0.766938

In [13]:
df.iloc[:,0:19]

,bs,num_features,lambda,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,Close Dishwasher,Close Drawer 3,Close Drawer 2,Close Door 2,Close Drawer 1,Close Fridge,Toggle Switch,Open Door 2,Drink from Cup
0,64,128,0.0001,1,1,0.951807,1,0.625514,0.625514,0.625514,1.000000,1.0,1.0,1.000000,1.0,0.818182,1.000000,1.0,0.95
1,64,128,0.0001,1,1,0.951807,2,0.724576,0.788136,0.779661,1.000000,1.0,1.0,1.000000,1.0,0.818182,1.000000,1.0,0.95
2,64,128,0.0001,1,1,0.951807,3,0.694323,0.751092,0.751092,1.000000,1.0,1.0,1.000000,1.0,0.818182,1.000000,1.0,0.95
3,64,128,0.0001,1,1,0.951807,4,0.711712,0.729730,0.756757,1.000000,1.0,1.0,1.000000,1.0,0.818182,1.000000,1.0,0.95
4,64,128,0.0001,1,1,0.951807,5,0.753488,0.739535,0.758140,1.000000,1.0,1.0,1.000000,1.0,0.818182,1.000000,1.0,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15924,64,128,0.0001,2,4,0.884615,1,0.623431,0.623431,0.623431,0.888889,1.0,0.6,0.888889,1.0,0.727273,0.909091,1.0,1.00
15925,64,128,0.0001,2,4,0.884615,2,0.599138,0.668103,0.663793,0.888889,1.0,0.6,0.888889,1.0,0.727273,0.909091,1.0,1.00
15926,64,128,0.0001,2,4,0.884615,3,0.622222,0.733333,0.684444,0.888889,1.0,0.6,0.888889,1.0,0.727273,0.909091,1.0,1.00
15927,64,128,0.0001,2,4,0.884615,4,0.623853,0.701835,0.633028,0.888889,1.0,0.6,0.888889,1.0,0.727273,0.909091,1.0,1.00
15928,64,128,0.0001,2,4,0.884615,5,0.578199,0.744076,0.649289,0.888889,1.0,0.6,0.888889,1.0,0.727273,0.909091,1.0,1.00

In [5]:
df

,bs,num_features,lambda,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,...,knn Open Drawer 1,knn Open Fridge,len_source,len_target,sim_source,sim_target,svm_source,svm_target,knn_source,knn_target
0,64,128,0,1,1,0.9518072289156626,1,0.7448559670781894,0.7448559670781894,0.7448559670781894,...,0.6129032258064516,0.5434782608695652,243,73,0.7119341563786008,0.547945205479452,0.4609053497942387,0.9726027397260274,0.8106995884773662,0.9315068493150684
1,64,128,0,1,1,0.9518072289156626,2,0.7711864406779662,0.7754237288135594,0.8220338983050848,...,0.6666666666666666,0.7111111111111111,236,63,0.711864406779661,0.42857142857142855,0.885593220338983,0.8888888888888888,0.8177966101694916,0.9206349206349206
2,64,128,0,1,1,0.9518072289156626,3,0.7685589519650655,0.8384279475982532,0.8034934497816594,...,0.5517241379310345,0.7272727272727273,229,54,0.7161572052401747,0.46296296296296297,0.9082969432314411,0.9074074074074074,0.8209606986899564,0.9629629629629629
3,64,128,0,1,1,0.9518072289156626,4,0.8423423423423423,0.8378378378378378,0.7927927927927928,...,0.5357142857142857,0.7441860465116279,222,46,0.7162162162162162,0.4782608695652174,0.8108108108108109,1.0,0.8828828828828829,0.9782608695652174
4,64,128,0,1,1,0.9518072289156626,5,0.8604651162790697,0.8418604651162791,0.8093023255813954,...,0.5185185185185185,0.7619047619047619,215,38,0.7116279069767442,0.5,0.8046511627906977,1.0,0.8790697674418605,0.9736842105263158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,64,128,0,3,1,0.9333333333333333,2,0.4703389830508475,0.576271186440678,0.5169491525423728,...,0.43333333333333335,0.4666666666666667,236,55,0.809322033898305,0.43636363636363634,0.847457627118644,0.7818181818181819,0.8898305084745762,0.8545454545454545
1373,64,128,0,3,1,0.9333333333333333,3,0.5414847161572053,0.611353711790393,0.6157205240174672,...,0.41379310344827586,0.5681818181818182,229,46,0.8253275109170306,0.43478260869565216,0.851528384279476,0.7608695652173914,0.9082969432314411,0.7608695652173914
1374,64,128,0,3,1,0.9333333333333333,4,0.5495495495495496,0.6396396396396397,0.6396396396396397,...,0.25,0.5813953488372093,222,37,0.8153153153153153,0.4594594594594595,0.7882882882882883,0.8378378378378378,0.9054054054054054,0.7837837837837838
1375,64,128,0,3,1,0.9333333333333333,5,0.5627906976744186,0.6604651162790698,0.6976744186046512,...,0.2962962962962963,0.6904761904761905,215,29,0.8093023255813954,0.4827586206896552,0.8046511627906977,0.8275862068965517,0.9069767441860465,0.8275862068965517
1376,64,128,0,3,2,0.8,2,0.575107296137339,0.5364806866952789,0.5064377682403434,...,0.375,0.19230769230769232,233,55,0.7424892703862661,0.43636363636363634,0.8240343347639485,0.8909090909090909,0.8626609442060086,0.8909090909090909

In [19]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[(df['lambda']==0.001) & (df['bs']==32)].groupby(['n_shots']).mean()

Empty DataFrame
Columns: [bs, num_features, lambda, participant1, participant2, num_selected, test_acc, sim_acc, svm_acc, knn_total_acc, sim sitting, sim cycling, sim Nordic walking, sim descending stairs, sim ironing, svm sitting, svm cycling, svm Nordic walking, svm descending stairs, svm ironing, knn sitting, knn cycling, knn Nordic walking, knn descending stairs, knn ironing, len_source, len_target]
Index: []

[0 rows x 27 columns]

In [14]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_eval_base.txt',delimiter=',',header=0,skiprows=0,index_col=False)
df[df['bs']==32].groupby(['lambda']).mean()

,bs,num_features,participant1,participant2,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc,...,svm Nordic walking,svm descending stairs,svm ironing,knn sitting,knn cycling,knn Nordic walking,knn descending stairs,knn ironing,len_source,len_target
lambda,,,,,,,,,,,,,,,,,,,,,
0,32.0,128.0,0.995031,0.998758,5.0,0.685315,3.0,0.752615,0.747271,0.771033,...,0.794122,0.660794,0.641416,0.761619,0.881732,0.825425,0.714757,0.676199,12.0,13.678261

In [7]:
df.columns

Index(['bs', 'num_features', 'lambda', 'participant1', 'participant2',
       'num_selected;test_acc', 'n_shots', 'sim_acc', 'svm_acc',
       'knn_total_acc', 'lying', 'standing', 'walking', 'running',
       'ascending stairs', 'vacuum cleaning', 'rope jumping', 'sim sitting',
       'sim cycling', 'sim Nordic walking', 'sim descending stairs',
       'sim ironing', 'svm sitting', 'svm cycling', 'svm Nordic walking',
       'svm descending stairs', 'svm ironing', 'knn sitting', 'knn cycling',
       'knn Nordic walking', 'knn descending stairs', 'knn ironing',
       'len_source', 'len_target', 'sim_source', 'sim_target', 'svm_source',
       'svm_target', 'knn_source', 'knn_target'],
      dtype='object')

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_new.txt',delimiter=';',header=0,skiprows=0)
df[df['group1']==2][df['group1']==df['group2']].groupby(['group1','n_shots','lambda']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                       bs  num_embeddings  group2  num_selected  test_acc  \
group1 n_shots lambda
2      1       0.0000  32             128       2             5  0.475510
               0.0001  32             128       2             5  0.662222
       2       0.0000  32             128       2             5  0.475510
               0.0001  32             128       2             5  0.662222
       3       0.0000  32             128       2             5  0.475510
               0.0001  32             128       2             5  0.662222
       4       0.0000  32             128       2             5  0.475510
               0.0001  32             128       2             5  0.662222
       5       0.0000  32             128       2             5  0.475510
               0.0001  32             128       2             5  0.662222

                        sim_acc   svm_acc  knn_total_acc
group1 n_shots lambda
2      1       0.0000  0.786812  0.786812       0.786812
               0.0001  0.809895  0.809895       0.809895
       2       0.0000  0.835985  0.828611       0.850478
               0.0001  0.856554  0.856039       0.864691
       3       0.0000  0.840715  0.836775       0.880663
               0.0001  0.873311  0.875424       0.890011
       4       0.0000  0.849456  0.854097       0.901378
               0.0001  0.884106  0.886249       0.906825
       5       0.0000  0.854741  0.860906       0.914179
               0.0001  0.887060  0.893704       0.914630

In [33]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_new.txt',delimiter=';',header=0,skiprows=0)
df[df['group1']==2][df['group1']!=df['group2']].groupby(['lambda','group1','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                         bs  num_embeddings    group2  num_selected  test_acc  \
lambda group1 n_shots
0.0000 2      1        32.0           128.0  0.470588           5.0  0.576471
              2        32.0           128.0  0.470588           5.0  0.576471
              3        32.0           128.0  0.470588           5.0  0.576471
              4        32.0           128.0  0.470588           5.0  0.576471
              5        32.0           128.0  0.470588           5.0  0.576471
0.0001 2      1        32.0           128.0  0.500000           5.0  0.486957
              2        32.0           128.0  0.500000           5.0  0.486957
              3        32.0           128.0  0.500000           5.0  0.486957
              4        32.0           128.0  0.500000           5.0  0.486957
              5        32.0           128.0  0.500000           5.0  0.486957
0.0005 2      1        32.0           128.0  0.500000           5.0  0.466667
              2        32.0           128.0  0.500000           5.0  0.466667
              3        32.0           128.0  0.500000           5.0  0.466667
              4        32.0           128.0  0.500000           5.0  0.466667
              5        32.0           128.0  0.500000           5.0  0.466667
0.0010 2      1        32.0           128.0  0.000000           5.0  1.000000
              2        32.0           128.0  0.000000           5.0  1.000000
              3        32.0           128.0  0.000000           5.0  1.000000
              4        32.0           128.0  0.000000           5.0  1.000000
              5        32.0           128.0  0.000000           5.0  1.000000

                        sim_acc   svm_acc  knn_total_acc
lambda group1 n_shots
0.0000 2      1        0.675112  0.675112       0.675112
              2        0.736306  0.730575       0.742828
              3        0.763898  0.754170       0.767793
              4        0.771265  0.768006       0.789533
              5        0.774045  0.780839       0.804836
0.0001 2      1        0.652986  0.652986       0.652986
              2        0.709886  0.714634       0.713059
              3        0.737668  0.745389       0.754796
              4        0.745669  0.757236       0.783143
              5        0.750527  0.764419       0.801469
0.0005 2      1        0.648886  0.648886       0.648886
              2        0.689064  0.692498       0.681229
              3        0.726048  0.725439       0.744892
              4        0.737509  0.741378       0.773697
              5        0.736416  0.760596       0.799303
0.0010 2      1        0.640845  0.640845       0.640845
              2        0.675986  0.668817       0.739068
              3        0.732117  0.705839       0.773723
              4        0.721933  0.725651       0.804461
              5        0.743182  0.750000       0.806061

In [25]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_tune_bs.txt',delimiter=';',header=0,skiprows=0)
df.groupby('bs').mean()

,lambda,num_embeddings,num_selected,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
bs,,,,,,,,
2,0.0001,128,5,1.000000,3,0.684044,0.679846,0.685914
4,0.0001,128,5,0.975000,3,0.708992,0.711726,0.708401
8,0.0001,128,5,1.000000,3,0.733849,0.731580,0.726142
16,0.0001,128,5,0.937500,3,0.732673,0.734286,0.727241
32,0.0001,128,5,0.993750,3,0.747036,0.745491,0.740201
64,0.0001,128,5,0.933333,3,0.738163,0.738539,0.730495

In [21]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_new.txt',delimiter=';',header=0,skiprows=0)
df[df['group1']==2][df['group1']!=df['group2']].groupby(['lambda','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                 bs  num_embeddings  group1  group2  test_acc   sim_acc  \
lambda n_shots
0.0000 1        4.0           128.0     2.0     0.5  0.766667  0.654656
       2        4.0           128.0     2.0     0.5  0.766667  0.713854
       3        4.0           128.0     2.0     0.5  0.766667  0.733881
       4        4.0           128.0     2.0     0.5  0.766667  0.742013
       5        4.0           128.0     2.0     0.5  0.766667  0.749910
0.0001 1        4.0           128.0     2.0     0.5  0.580000  0.647742
       2        4.0           128.0     2.0     0.5  0.580000  0.716377
       3        4.0           128.0     2.0     0.5  0.580000  0.735975
       4        4.0           128.0     2.0     0.5  0.580000  0.749185
       5        4.0           128.0     2.0     0.5  0.580000  0.751741

                 svm_acc  knn_total_acc
lambda n_shots
0.0000 1        0.654656       0.654656
       2        0.713254       0.714714
       3        0.735663       0.754994
       4        0.748158       0.778014
       5        0.759583       0.796404
0.0001 1        0.647742       0.647742
       2        0.717156       0.708552
       3        0.742397       0.744914
       4        0.757528       0.772888
       5        0.767880       0.790491

In [4]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/UTWENTE_FCNN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).count()

                bs  num_features  num_selected  test_acc  sim_acc  svm_acc  \
lambda n_shots
0.0000 1        60            60            60        60       60       60
       2        60            60            60        60       60       60
       3        60            60            60        60       60       60
       4        60            60            60        60       60       60
       5        60            60            60        60       60       60
0.0001 1        60            60            60        60       60       60
       2        60            60            60        60       60       60
       3        60            60            60        60       60       60
       4        60            60            60        60       60       60
       5        60            60            60        60       60       60

                knn_total_acc
lambda n_shots
0.0000 1                   60
       2                   60
       3                   60
       4                   60
       5                   60
0.0001 1                   60
       2                   60
       3                   60
       4                   60
       5                   60

In [17]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_variable_len.txt',delimiter=';',header=0,skiprows=0)
df.groupby('n_shots').mean()

,bs,num_features,lambda,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,
1,64,128,0.0001,4,4,0.270833,0.368729,0.368729,0.368729
2,64,128,0.0001,4,4,0.270833,0.409994,0.416881,0.411397
3,64,128,0.0001,4,4,0.270833,0.428668,0.440945,0.429861
4,64,128,0.0001,4,4,0.270833,0.445233,0.463683,0.444142
5,64,128,0.0001,4,4,0.270833,0.453086,0.480407,0.458506

In [22]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_tune_no_relu.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                  bs  num_features  participant1  participant2  test_acc  \
lambda n_shots
0.0001 1        64.0         128.0       2.75969       2.75969  0.933786
       2        64.0         128.0       2.75969       2.75969  0.933786
       3        64.0         128.0       2.75969       2.75969  0.933786
       4        64.0         128.0       2.75969       2.75969  0.933786
       5        64.0         128.0       2.75969       2.75969  0.933786

                 sim_acc   svm_acc  knn_total_acc
lambda n_shots
0.0001 1        0.561339  0.561339       0.561339
       2        0.605610  0.626291       0.626970
       3        0.629320  0.659873       0.654138
       4        0.644658  0.681130       0.670001
       5        0.653150  0.696551       0.680386

In [53]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/FCNN_tune_relu.txt',delimiter=';',header=0,skiprows=0)
df.groupby('n_shots').mean()

,bs,num_features,lambda,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,,,,
1,64.0,128.0,0.0001,3.208333,3.3125,0.934375,0.556900,0.556900,0.556900
2,64.0,128.0,0.0001,3.208333,3.3125,0.934375,0.593349,0.615840,0.619767
3,64.0,128.0,0.0001,3.208333,3.3125,0.934375,0.618029,0.651602,0.647762
4,64.0,128.0,0.0001,3.208333,3.3125,0.934375,0.634369,0.672730,0.662861
5,64.0,128.0,0.0001,3.208333,3.3125,0.934375,0.643189,0.685917,0.673656

In [29]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_tune_no_relu.txt',delimiter=';',header=0,skiprows=0)
df[df['participant1']==3][df['participant1']!=df['participant2']].groupby(['lambda','participant1','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                               bs  num_features  participant2  test_acc  \
lambda participant1 n_shots
0.0001 3            1        64.0         128.0      2.333333  0.885417
                    2        64.0         128.0      2.333333  0.885417
                    3        64.0         128.0      2.333333  0.885417
                    4        64.0         128.0      2.333333  0.885417
                    5        64.0         128.0      2.333333  0.885417

                              sim_acc   svm_acc  knn_total_acc
lambda participant1 n_shots
0.0001 3            1        0.551719  0.551719       0.551719
                    2        0.604794  0.631485       0.626869
                    3        0.628186  0.663522       0.653359
                    4        0.648975  0.686245       0.669826
                    5        0.661116  0.700829       0.680185

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/FCNN_tune_3.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['kernel_size','n_shots']).mean()

                     bs  num_features  lambda  test_acc   sim_acc   svm_acc  \
kernel_size n_shots
2           1        64           128  0.0001  0.860795  0.510384  0.510384
            2        64           128  0.0001  0.860795  0.551657  0.573794
            3        64           128  0.0001  0.860795  0.580183  0.608939
            4        64           128  0.0001  0.860795  0.599550  0.640186
            5        64           128  0.0001  0.860795  0.616985  0.658801
3           1        64           128  0.0001  0.891628  0.505590  0.505590
            2        64           128  0.0001  0.891628  0.555213  0.571484
            3        64           128  0.0001  0.891628  0.586033  0.611454
            4        64           128  0.0001  0.891204  0.599227  0.634274
            5        64           128  0.0001  0.891204  0.611435  0.650586
5           1        64           128  0.0001  0.910714  0.490260  0.490260
            2        64           128  0.0001  0.910714  0.546625  0.563477
            3        64           128  0.0001  0.910714  0.573411  0.599004
            4        64           128  0.0001  0.910714  0.585820  0.625782
            5        64           128  0.0001  0.910714  0.598473  0.643272
6           1        64           128  0.0001  0.907738  0.479087  0.479087
            2        64           128  0.0001  0.907738  0.536963  0.549641
            3        64           128  0.0001  0.907738  0.560281  0.591652
            4        64           128  0.0001  0.907738  0.568428  0.612916
            5        64           128  0.0001  0.907738  0.585391  0.634011

                     knn_total_acc
kernel_size n_shots
2           1             0.510384
            2             0.566459
            3             0.594275
            4             0.613383
            5             0.628238
3           1             0.505590
            2             0.560367
            3             0.594027
            4             0.612116
            5             0.626838
5           1             0.490260
            2             0.550304
            3             0.580295
            4             0.601405
            5             0.614195
6           1             0.479087
            2             0.540701
            3             0.569456
            4             0.586582
            5             0.603559

In [18]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/FCNN_tune.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                  bs  num_features  test_acc   sim_acc   svm_acc  \
lambda n_shots
0.0001 1        64.0    182.566038  0.890846  0.486027  0.486027
       2        64.0    182.566038  0.890846  0.536712  0.556185
       3        64.0    182.566038  0.890846  0.560951  0.593118
       4        64.0    182.566038  0.890846  0.575874  0.618571
       5        64.0    182.921986  0.890736  0.588595  0.636817

                knn_total_acc
lambda n_shots
0.0001 1             0.486027
       2             0.544162
       3             0.574547
       4             0.596059
       5             0.611309

In [14]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/test.txt',delimiter=';',header=0,skiprows=0)
df[df['participant1']==3][df['participant1']!=df['participant2']].groupby(['lambda','participant1','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                               bs  num_features  participant2  test_acc  \
lambda participant1 n_shots
0.0001 3            1        64.0         512.0      2.333333  0.895833
                    2        64.0         512.0      2.333333  0.895833
                    3        64.0         512.0      2.333333  0.895833
                    4        64.0         512.0      2.333333  0.895833
                    5        64.0         512.0      2.333333  0.895833

                              sim_acc   svm_acc  knn_total_acc
lambda participant1 n_shots
0.0001 3            1        0.508122  0.508122       0.508122
                    2        0.570738  0.583610       0.582889
                    3        0.602544  0.627016       0.615162
                    4        0.619494  0.653610       0.638804
                    5        0.624798  0.670764       0.650937

In [2]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_new_method2.txt',delimiter=';',header=0,skiprows=0)
df[df['participant1']==2][df['participant1']!=df['participant2']].groupby(['lambda','participant1','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                               bs  num_features  participant2  test_acc  \
lambda participant1 n_shots
0.0000 2            1        64.0         512.0      2.666667  0.750000
                    2        64.0         512.0      2.666667  0.750000
                    3        64.0         512.0      2.666667  0.750000
                    4        64.0         512.0      2.666667  0.750000
                    5        64.0         512.0      2.666667  0.750000
0.0001 2            1        64.0         512.0      2.666667  0.833333
                    2        64.0         512.0      2.666667  0.833333
                    3        64.0         512.0      2.666667  0.833333
                    4        64.0         512.0      2.666667  0.833333
                    5        64.0         512.0      2.666667  0.833333
0.0010 2            1        64.0         512.0      2.666667  0.854167
                    2        64.0         512.0      2.666667  0.854167
                    3        64.0         512.0      2.666667  0.854167
                    4        64.0         512.0      2.666667  0.854167
                    5        64.0         512.0      2.666667  0.854167

                              sim_acc   svm_acc  knn_total_acc
lambda participant1 n_shots
0.0000 2            1        0.416810  0.416810       0.416810
                    2        0.490170  0.485700       0.465105
                    3        0.515901  0.509529       0.482443
                    4        0.533443  0.530091       0.496000
                    5        0.547476  0.543896       0.504017
0.0001 2            1        0.387418  0.387418       0.387418
                    2        0.442389  0.451939       0.435364
                    3        0.479044  0.482969       0.460840
                    4        0.490021  0.509725       0.477291
                    5        0.506280  0.534678       0.489219
0.0010 2            1        0.432336  0.432336       0.432336
                    2        0.484787  0.495639       0.485237
                    3        0.512091  0.535939       0.515062
                    4        0.544509  0.563282       0.533091
                    5        0.547621  0.580711       0.548663

In [40]:
df[].groupby(['lambda','n_shots']).mean()

                  bs  num_features  participant1  participant2  test_acc  \
lambda n_shots
0.000  1        64.0         512.0      2.476190      2.476190  0.780952
       2        64.0         512.0      2.476190      2.476190  0.780952
       3        64.0         512.0      2.476190      2.476190  0.780952
       4        64.0         512.0      2.476190      2.476190  0.780952
       5        64.0         512.0      2.476190      2.476190  0.780952
0.001  1        64.0         512.0      2.451613      2.467742  0.783871
       2        64.0         512.0      2.451613      2.467742  0.783871
       3        64.0         512.0      2.451613      2.467742  0.783871
       4        64.0         512.0      2.451613      2.467742  0.783871
       5        64.0         512.0      2.451613      2.467742  0.783871

                 sim_acc   svm_acc  knn_total_acc
lambda n_shots
0.000  1        0.434950  0.434950       0.434950
       2        0.498349  0.495760       0.481804
       3        0.527470  0.526274       0.506568
       4        0.544221  0.549694       0.523243
       5        0.557774  0.565042       0.534395
0.001  1        0.450462  0.450462       0.450462
       2        0.512273  0.522577       0.508294
       3        0.546658  0.561919       0.540028
       4        0.568691  0.587142       0.560130
       5        0.579263  0.605370       0.573101

In [40]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/selected_Classes.txt',delimiter=';',header=0,skiprows=0)
df[(df['num_selected']==5) & (df['bs']==50)].groupby(['lambda','num_selected','n_shots']).mean()

                              bs  num_features  test_acc   sim_acc   svm_acc  \
lambda  num_selected n_shots
0.00000 5            1        50           128  0.911688  0.808138  0.808138
                     2        50           128  0.911688  0.863776  0.847549
                     3        50           128  0.911688  0.879826  0.861983
                     4        50           128  0.911688  0.889923  0.871312
                     5        50           128  0.911688  0.894395  0.875830
0.00001 5            1        50           128  0.902597  0.834086  0.834086
                     2        50           128  0.902597  0.884506  0.870528
                     3        50           128  0.902597  0.902013  0.886240
                     4        50           128  0.902597  0.908348  0.893832
                     5        50           128  0.902597  0.912259  0.898901
0.00010 5            1        50           128  0.881818  0.824270  0.824270
                     2        50           128  0.881818  0.871931  0.868154
                     3        50           128  0.881818  0.887264  0.884990
                     4        50           128  0.881818  0.896126  0.898342
                     5        50           128  0.881818  0.901389  0.906654

                              knn_total_acc
lambda  num_selected n_shots
0.00000 5            1             0.808138
                     2             0.875883
                     3             0.900106
                     4             0.912207
                     5             0.921284
0.00001 5            1             0.834086
                     2             0.890071
                     3             0.913915
                     4             0.925043
                     5             0.931518
0.00010 5            1             0.824270
                     2             0.888298
                     3             0.910927
                     4             0.923228
                     5             0.930079

In [10]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP.txt',delimiter=';',header=0,skiprows=0)
df[(df['participant1']==1) & (df['participant1']!=df['participant2'])].groupby(['lambda','n_shots']).mean()

                  bs  num_features  participant1  participant2  test_acc  \
lambda n_shots
0.000  1        64.0         512.0           1.0      2.902439  0.917073
       2        64.0         512.0           1.0      2.902439  0.917073
       3        64.0         512.0           1.0      2.902439  0.917073
       4        64.0         512.0           1.0      2.902439  0.917073
       5        64.0         512.0           1.0      2.902439  0.917073
0.001  1        64.0         512.0           1.0      2.875000  1.000000
       2        64.0         512.0           1.0      2.875000  1.000000
       3        64.0         512.0           1.0      2.875000  1.000000
       4        64.0         512.0           1.0      2.875000  1.000000
       5        64.0         512.0           1.0      2.875000  1.000000

                 sim_acc   svm_acc  knn_total_acc
lambda n_shots
0.000  1        0.556035  0.556035       0.556035
       2        0.620040  0.607179       0.593217
       3        0.638670  0.628031       0.609022
       4        0.651150  0.652066       0.627968
       5        0.664974  0.662717       0.642789
0.001  1        0.558441  0.558441       0.558441
       2        0.608329  0.623551       0.609616
       3        0.650638  0.659027       0.643833
       4        0.668161  0.681438       0.660816
       5        0.674318  0.690322       0.671159

In [93]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_6.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                bs  num_features  test_acc   sim_acc   svm_acc  knn_total_acc
lambda n_shots
0      1        64           512      0.95  0.547773  0.547773       0.547773
       2        64           512      0.95  0.605794  0.611381       0.595514
       3        64           512      0.95  0.626255  0.641381       0.614351
       4        64           512      0.95  0.643562  0.663498       0.637850
       5        64           512      0.95  0.657028  0.678174       0.646221

In [94]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_4.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                bs  num_features  test_acc   sim_acc   svm_acc  knn_total_acc
lambda n_shots
0      1        64           512  0.966667  0.573113  0.573113       0.573113
       2        64           512  0.966667  0.622679  0.628411       0.618581
       3        64           512  0.966667  0.642008  0.652148       0.636611
       4        64           512  0.966667  0.660555  0.671542       0.651970
       5        64           512  0.966667  0.674961  0.679986       0.660425

In [51]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_1.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                bs  num_features  test_acc   sim_acc   svm_acc  knn_total_acc
lambda n_shots
0      1        64           512  0.953704  0.542001  0.542001       0.542001
       2        64           512  0.951923  0.609394  0.612509       0.599329
       3        64           512  0.951923  0.622787  0.635661       0.614218
       4        64           512  0.951923  0.649429  0.654616       0.634474
       5        64           512  0.951923  0.660624  0.673853       0.650212

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/UTWENTE.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda','n_shots']).mean()

                 bs  num_features  test_acc   sim_acc   svm_acc  knn_total_acc
lambda  n_shots
0.00000 1         4           128  0.846753  0.808138  0.808138       0.808138
        2         4           128  0.846753  0.860397  0.847769       0.869048
        3         4           128  0.846753  0.876580  0.864781       0.892516
        4         4           128  0.846753  0.883898  0.873774       0.904249
        5         4           128  0.846753  0.888823  0.883019       0.913315
0.00001 1         4           128  0.898675  0.813022  0.813022       0.813022
        2         4           128  0.898675  0.860758  0.851744       0.872745
        3         4           128  0.898675  0.879357  0.870022       0.894619
        4         4           128  0.898675  0.887226  0.879845       0.906805
        5         4           128  0.898673  0.893023  0.889295       0.916198
0.00010 1         4           128  0.868707  0.827975  0.827975       0.827975
        2         4           128  0.868707  0.870116  0.864593       0.882931
        3         4           128  0.868707  0.885111  0.882813       0.902468
        4         4           128  0.868707  0.889495  0.891719       0.914177
        5         4           128  0.868707  0.893227  0.897841       0.921946
0.00100 1         4           128  0.882313  0.816235  0.816235       0.816235
        2         4           128  0.882313  0.859140  0.859279       0.877935
        3         4           128  0.882313  0.877996  0.885030       0.902142
        4         4           128  0.882313  0.885112  0.899184       0.916143
        5         4           128  0.882313  0.892041  0.909467       0.926764

In [42]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP.txt',delimiter=';',header=0,skiprows=0)
df[(df['participant1']!=df['participant2']) & (df['participant1']==3) & (df['lambda']==0)].groupby(['lambda','n_shots']).mean()

                  bs  num_features  participant1  participant2  test_acc  \
lambda n_shots
0.0005 1        64.0         512.0           3.0      2.333333     0.875
       2        64.0         512.0           3.0      2.333333     0.875
       3        64.0         512.0           3.0      2.333333     0.875
       4        64.0         512.0           3.0      2.333333     0.875
       5        64.0         512.0           3.0      2.333333     0.875

                 sim_acc   svm_acc  knn_total_acc
lambda n_shots
0.0005 1        0.395001  0.395001       0.395001
       2        0.443759  0.469635       0.455414
       3        0.475558  0.523862       0.502971
       4        0.494791  0.549784       0.520078
       5        0.498872  0.561448       0.535848

In [57]:
df

,bs,lambda,num_features,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
0,64,0.0000,512,1,1,0.8,1,0.641975,0.641975,0.641975
1,64,0.0000,512,1,1,0.8,2,0.635593,0.690678,0.682203
2,64,0.0000,512,1,1,0.8,3,0.777293,0.759825,0.768559
3,64,0.0000,512,1,1,0.8,4,0.788288,0.716216,0.689189
4,64,0.0000,512,1,1,0.8,5,0.804651,0.767442,0.716279
...,...,...,...,...,...,...,...,...,...,...
12110,64,0.0001,512,3,1,1.0,3,0.462882,0.462882,0.475983
12111,64,0.0001,512,3,1,1.0,4,0.400901,0.500000,0.481982
12112,64,0.0001,512,3,1,1.0,5,0.400000,0.497674,0.474419
12113,64,0.0001,512,3,1,1.0,1,0.415638,0.415638,0.415638
12114,64,0.0001,512,3,1,1.0,2,0.457627,0.466102,0.461864

In [54]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2.txt',delimiter=';',header=0,skiprows=0)
df[(df['group1']==2) & (df['lambda']==0)][df['group1']!=df['group2']].groupby(['lambda','n_shots']).mean()

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

                 bs  num_embeddings  group1    group2  test_acc   sim_acc  \
lambda n_shots
0.0    1        4.0           128.0     2.0  0.491525  0.613559  0.650453
       2        4.0           128.0     2.0  0.490950  0.614253  0.709019
       3        4.0           128.0     2.0  0.490950  0.614253  0.733052
       4        4.0           128.0     2.0  0.490950  0.614253  0.746245
       5        4.0           128.0     2.0  0.490950  0.614253  0.752115

                 svm_acc  knn_total_acc
lambda n_shots
0.0    1        0.650453       0.650453
       2        0.710612       0.717173
       3        0.737851       0.755338
       4        0.756847       0.779963
       5        0.767029       0.797684

In [14]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/OPP_2000.txt',delimiter=';',header=0,skiprows=0)
df[df['participant1']==df['participant2']].groupby(['lambda','n_shots']).mean()

                    bs  num_features  participant1  participant2  test_acc  \
lambda   n_shots
0.000000 1        64.0         512.0      1.000000      1.000000  1.000000
         2        64.0         512.0      1.000000      1.000000  1.000000
         3        64.0         512.0      1.000000      1.000000  1.000000
         4        64.0         512.0      1.000000      1.000000  1.000000
         5        64.0         512.0      1.000000      1.000000  1.000000
0.000005 1        64.0         512.0      1.000000      1.000000  0.800000
         2        64.0         512.0      1.000000      1.000000  0.800000
         3        64.0         512.0      1.000000      1.000000  0.800000
         4        64.0         512.0      1.000000      1.000000  0.800000
         5        64.0         512.0      1.000000      1.000000  0.800000
0.000100 1        64.0         512.0      2.411765      2.411765  0.920588
         2        64.0         512.0      2.411765      2.411765  0.920588
         3        64.0         512.0      2.411765      2.411765  0.920588
         4        64.0         512.0      2.411765      2.411765  0.920588
         5        64.0         512.0      2.411765      2.411765  0.920588

                   sim_acc   svm_acc  knn_total_acc
lambda   n_shots
0.000000 1        0.563786  0.563786       0.563786
         2        0.646610  0.618644       0.610169
         3        0.702183  0.658515       0.629694
         4        0.716216  0.674775       0.654955
         5        0.734884  0.692093       0.668837
0.000005 1        0.460082  0.460082       0.460082
         2        0.534746  0.528814       0.492373
         3        0.629694  0.606114       0.556332
         4        0.663063  0.629730       0.586486
         5        0.657674  0.640930       0.604651
0.000100 1        0.526854  0.526854       0.526854
         2        0.604834  0.632260       0.611335
         3        0.650695  0.671878       0.643810
         4        0.670756  0.693369       0.657991
         5        0.684394  0.709982       0.671902

In [4]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/FSL/PAMAP2_tune.txt',delimiter=';',header=0,skiprows=0)
df[df['n_shots']==1].groupby(['bs','lambda','num_features']).mean()

                         participant1  participant2  test_acc  n_shots  \
bs lambda  num_features
4  0.00000 64                       0             0  0.800000        1
           128                      0             0  0.333333        1
           256                      0             0  0.633333        1
           512                      0             0  0.566667        1
   0.00001 64                       0             0  1.000000        1
           128                      0             0  0.933333        1
           256                      0             0  0.633333        1
           512                      0             0  0.933333        1
   0.00010 64                       0             0  1.000000        1
           128                      0             0  0.766667        1
           256                      0             0  0.333333        1
           512                      0             0  0.600000        1
   0.00100 64                       0             0  0.900000        1
           128                      0             0  0.600000        1
           256                      0             0  0.833333        1
           512                      0             0  0.500000        1
16 0.00000 64                       0             0  1.000000        1
           128                      0             0  0.966667        1
           256                      0             0  0.533333        1
           512                      0             0  0.966667        1
   0.00001 64                       0             0  0.733333        1
           128                      0             0  0.966667        1
           256                      0             0  1.000000        1
           512                      0             0  0.966667        1
   0.00010 64                       0             0  0.800000        1
           128                      0             0  1.000000        1
           256                      0             0  0.866667        1
           512                      0             0  0.966667        1
   0.00100 64                       0             0  0.966667        1
           128                      0             0  0.933333        1
           256                      0             0  1.000000        1
           512                      0             0  0.966667        1
32 0.00000 64                       0             0  1.000000        1
           128                      0             0  0.866667        1
           256                      0             0  0.866667        1
           512                      0             0  0.666667        1
   0.00001 64                       0             0  1.000000        1
           128                      0             0  0.666667        1
           256                      0             0  0.633333        1
           512                      0             0  0.966667        1
   0.00010 64                       0             0  1.000000        1
           128                      0             0  1.000000        1
           256                      0             0  1.000000        1
           512                      0             0  1.000000        1
   0.00100 64                       0             0  0.966667        1
           128                      0             0  0.900000        1
           256                      0             0  1.000000        1
           512                      0             0  0.666667        1

                          sim_acc   svm_acc  knn_total_acc
bs lambda  num_features
4  0.00000 64            0.530952  0.628571       0.714286
           128           0.166667  0.166667       0.380952
           256           0.461905  0.383333       0.526190
           512           0.414286  0.421429       0.521429
   0.00001 64            0.509524  0.533333       0.597619
           128           0.607143  0.650000       0.652381
           256           0.459524  0.471429       0.440476
           512           0.421429  0.466667       0.445238
   0.00010 64            0.580952  0.621429       0.609524
           128           0.514286  0.511905       0.516667
           256           0.188095  0.233333       0.364286
           512           0.390476  0.395238       0.414286
   0.00100 64            0.530952  0.566667       0.557143
           128           0.388095  0.428571       0.445238
           256           0.592857  0.545238       0.554762
           512           0.404762  0.361905       0.266667
16 0.00000 64            0.611905  0.614286       0.630952
           128           0.488095  0.550000       0.528571
           256           0.471429  0.502381       0.588095
           512           0.514286  0.473810       0.604762
   0.00001 64            0.554762  0.597619       0.571429
           128           0.478571  0.459524       0.547619
           256           0.580952  0.576190       0.540476
           512           0.688095  0.683333       0.635714
   0.00010 64            0.583333  0.590476       0.552381
           128           0.623810  0.645238       0.607143
           256           0.554762  0.576190       0.542857
           512           0.659524  0.688095       0.685714
   0.00100 64            0.550000  0.645238       0.592857
           128           0.550000  0.619048       0.588095
           256           0.433333  0.483333       0.504762
           512           0.452381  0.528571       0.533333
32 0.00000 64            0.602381  0.626190       0.647619
           128           0.526190  0.578571       0.650000
           256           0.588095  0.621429       0.680952
           512           0.580952  0.580952       0.611905
   0.00001 64            0.590476  0.592857       0.559524
           128           0.590476  0.647619       0.604762
           256           0.588095  0.623810       0.588095
           512           0.564286  0.564286       0.576190
   0.00010 64            0.533333  0.533333       0.511905
           128           0.573810  0.592857       0.538095
           256           0.680952  0.688095       0.669048
           512           0.495238  0.561905       0.557143
   0.00100 64            0.590476  0.573810       0.521429
           128           0.576190  0.571429       0.588095
           256           0.559524  0.621429       0.557143
           512           0.621429  0.659524       0.633333

In [34]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/global_no_BN_lambda_eval.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs','lambda']).mean()

            num_features  participant1  participant2  test_acc  n_shots  \
bs lambda
64 0.00000           128             0             0  0.935558        3
   0.00001           128             0             0  0.926122        3
   0.00010           128             0             0  0.919448        3
   0.00100           128             0             0  0.930955        3

             sim_acc   svm_acc  knn_total_acc
bs lambda
64 0.00000  0.574861  0.592872       0.585916
   0.00001  0.564231  0.570246       0.556665
   0.00010  0.555438  0.551184       0.533285
   0.00100  0.643431  0.647912       0.641710

In [36]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/global_BN_lambda_eval.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs','lambda']).mean()

            num_features  participant1  participant2  test_acc  n_shots  \
bs lambda
64 0.00000           128             0             0  0.852180        3
   0.00001           128             0             0  0.873418        3
   0.00010           128             0             0  0.856013        3
   0.00100           128             0             0  0.837025        3

             sim_acc   svm_acc  knn_total_acc
bs lambda
64 0.00000  0.609747  0.615192       0.602111
   0.00001  0.563773  0.563922       0.553611
   0.00010  0.557919  0.561274       0.550096
   0.00100  0.604760  0.597358       0.589635

In [21]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/global_BN_lambda.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs','lambda']).mean()

            num_features  participant1  participant2  test_acc  n_shots  \
bs lambda
64 0.00000         128.0           0.0           0.0  0.879184  3.00000
   0.00001         128.0           0.0           0.0  0.864979  3.00000
   0.00010         128.0           0.0           0.0  0.829817  3.00000
   0.00100         128.0           0.0           0.0  0.798395  2.95122

             sim_acc   svm_acc  knn_total_acc
bs lambda
64 0.00000  0.636922  0.639307       0.637060
   0.00001  0.638230  0.641424       0.635632
   0.00010  0.563097  0.562753       0.555536
   0.00100  0.598989  0.599133       0.590573

In [22]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/global_no_BN_lambda.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs','lambda']).mean()

            num_features  participant1  participant2  test_acc   n_shots  \
bs lambda
64 0.00000         128.0           0.0           0.0  0.916849  2.948276
   0.00001         128.0           0.0           0.0  0.930955  3.000000
   0.00010         128.0           0.0           0.0  0.918297  3.000000
   0.00100         128.0           0.0           0.0  0.930955  3.000000

             sim_acc   svm_acc  knn_total_acc
bs lambda
64 0.00000  0.585233  0.594055       0.588208
   0.00001  0.557176  0.562990       0.543156
   0.00010  0.591914  0.594382       0.573375
   0.00100  0.627061  0.628450       0.616823

In [12]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/global_BN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs','n_shots']).mean()

             lambda  num_features  participant1  participant2  test_acc  \
bs  n_shots
4   1             0           128             0             0  0.399911
    2             0           128             0             0  0.399911
    3             0           128             0             0  0.399911
    4             0           128             0             0  0.399911
    5             0           128             0             0  0.399911
16  1             0           128             0             0  0.689945
    2             0           128             0             0  0.689945
    3             0           128             0             0  0.689945
    4             0           128             0             0  0.689945
    5             0           128             0             0  0.689945
64  1             0           128             0             0  0.866875
    2             0           128             0             0  0.866875
    3             0           128             0             0  0.866875
    4             0           128             0             0  0.866875
    5             0           128             0             0  0.866875
100 1             0           128             0             0  0.877037
    2             0           128             0             0  0.877037
    3             0           128             0             0  0.877037
    4             0           128             0             0  0.877037
    5             0           128             0             0  0.877037

              sim_acc   svm_acc  knn_total_acc
bs  n_shots
4   1        0.310251  0.310251       0.310251
    2        0.315680  0.316294       0.313486
    3        0.325638  0.327877       0.325947
    4        0.311729  0.340596       0.327120
    5        0.329281  0.360067       0.345489
16  1        0.548976  0.548976       0.548976
    2        0.562649  0.554166       0.555980
    3        0.575756  0.584109       0.585745
    4        0.583416  0.581873       0.577836
    5        0.595840  0.600236       0.584731
64  1        0.633251  0.633251       0.633251
    2        0.660743  0.646176       0.644538
    3        0.666672  0.669044       0.665567
    4        0.669600  0.672747       0.657965
    5        0.686478  0.694955       0.668850
100 1        0.629229  0.629229       0.629229
    2        0.638980  0.630688       0.628772
    3        0.648123  0.654414       0.653795
    4        0.653230  0.656109       0.648629
    5        0.674277  0.682710       0.659714

In [ ]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/local_normalized_BN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['bs']).mean()

In [3]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/no_BN.txt',delimiter=';',header=0,skiprows=0)
df.mean()

participant1     2.473684
participant2     2.500000
test_acc         0.634066
n_shots          3.000000
sim_acc          0.561840
svm_acc          0.542962
knn_total_acc    0.536544
dtype: float64

In [4]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/with_BN.txt',delimiter=';',header=0,skiprows=0)
df.mean()

participant1     2.459459
participant2     2.491892
test_acc         0.795457
n_shots          3.000000
sim_acc          0.580492
svm_acc          0.562758
knn_total_acc    0.539285
dtype: float64

In [7]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/with_eval.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['lambda']).mean()

,bs,num_features,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
lambda,,,,,,,,,
0.00000,128.0,128.0,0.0,0.0,0.743038,3.000000,0.559828,0.540671,0.530932
0.00001,128.0,128.0,0.0,0.0,0.729385,3.000000,0.542595,0.524973,0.512617
0.00005,128.0,128.0,0.0,0.0,0.704973,3.000000,0.535335,0.523248,0.502858
0.00010,128.0,128.0,0.0,0.0,0.760238,2.955882,0.523319,0.497119,0.473798

In [7]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/tune1.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['num_features']).mean()

,bs,lambda,participant1,participant2,test_acc,n_shots,sim_acc,svm_acc,knn_total_acc
num_features,,,,,,,,,
128,112.904348,0.045743,0.0,0.0,0.676302,3.000000,0.517217,0.504586,0.491056
256,112.771930,0.045268,0.0,0.0,0.639096,3.000000,0.501052,0.491439,0.477650
512,112.907801,0.045747,0.0,0.0,0.592344,2.996454,0.482827,0.476607,0.465634

In [11]:
df[df['n_shots']==1].iloc[df[df['n_shots']==1]['sim_acc'].argmax()]

/opt/conda/lib/python3.7/site-packages/ipykernel/__main__.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  if __name__ == '__main__':

bs               128.000000
lambda             0.005000
num_features     128.000000
participant1       0.000000
participant2       0.000000
test_acc           0.594937
n_shots            1.000000
sim_acc            0.419588
svm_acc            0.419588
knn_total_acc      0.419588
Name: 344, dtype: float64

In [16]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/with_BN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['n_shots']).mean()

,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,
1,2.459459,2.491892,0.795457,0.522396,0.522396,0.522396
2,2.459459,2.491892,0.795457,0.582145,0.559575,0.541916
3,2.459459,2.491892,0.795457,0.582099,0.566018,0.530120
4,2.459459,2.491892,0.795457,0.600040,0.579677,0.544607
5,2.459459,2.491892,0.795457,0.615780,0.586125,0.557388

In [19]:
df[df['participant1']==df['participant2']].groupby(['participant1','participant2','n_shots']).mean()

                                   test_acc   sim_acc   svm_acc  knn_total_acc
participant1 participant2 n_shots
1            1            1        0.804008  0.515722  0.515722       0.515722
                          2        0.804008  0.581603  0.557546       0.539547
                          3        0.804008  0.570694  0.554568       0.521531
                          4        0.804008  0.576045  0.556463       0.525992
                          5        0.804008  0.598284  0.563252       0.542109
2            2            1        0.800422  0.538316  0.538316       0.538316
                          2        0.800422  0.587400  0.573122       0.560055
                          3        0.800422  0.583944  0.578713       0.554568
                          4        0.800422  0.595803  0.595715       0.570074
                          5        0.800422  0.620754  0.596249       0.576875
3            3            1        0.802359  0.512652  0.512652       0.512652
                          2        0.802359  0.577834  0.551402       0.535826
                          3        0.802359  0.578452  0.569608       0.536421
                          4        0.802359  0.602069  0.589807       0.558291
                          5        0.802359  0.606061  0.586952       0.565431
4            4            1        0.797468  0.543205  0.543205       0.543205
                          2        0.797468  0.589635  0.567922       0.553101
                          3        0.797468  0.581875  0.578642       0.534138
                          4        0.797468  0.612894  0.592202       0.554459
                          5        0.797468  0.622853  0.599016       0.568713

In [22]:
df[df['participant1']!=df['participant2']].groupby(['participant1','n_shots']).mean()

                      participant2  test_acc   sim_acc   svm_acc  \
participant1 n_shots
1            1            3.000000  0.790225  0.508820  0.508820
             2            3.000000  0.790225  0.573930  0.557777
             3            3.000000  0.790225  0.577406  0.560844
             4            3.000000  0.790225  0.596154  0.571274
             5            3.000000  0.790225  0.612232  0.581594
2            1            2.666667  0.789504  0.522738  0.522738
             2            2.666667  0.789504  0.583016  0.554488
             3            2.666667  0.789504  0.585803  0.559740
             4            2.666667  0.789504  0.600574  0.571420
             5            2.666667  0.789504  0.611937  0.577495
3            1            2.294118  0.788328  0.528745  0.528745
             2            2.294118  0.788328  0.591595  0.567711
             3            2.294118  0.788328  0.583282  0.571530
             4            2.294118  0.788328  0.606583  0.591613
             5            2.294118  0.788328  0.624079  0.596135
4            1            2.000000  0.807115  0.523243  0.523243
             2            2.000000  0.807115  0.577646  0.554454
             3            2.000000  0.807115  0.586725  0.566977
             4            2.000000  0.807115  0.602261  0.580611
             5            2.000000  0.807115  0.620730  0.590234

                      knn_total_acc
participant1 n_shots
1            1             0.508820
             2             0.539748
             3             0.525046
             4             0.537174
             5             0.551368
2            1             0.522738
             2             0.535393
             3             0.526993
             4             0.537261
             5             0.551958
3            1             0.528745
             2             0.550638
             3             0.532211
             4             0.551354
             5             0.561103
4            1             0.523243
             2             0.534976
             3             0.527704
             4             0.543443
             5             0.558065

In [10]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/old_CNN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['n_shots']).mean()

,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,
1,2.467742,2.500000,0.454826,0.284207,0.297560,0.292027
2,2.469636,2.493927,0.454359,0.285181,0.304878,0.295550
3,2.469636,2.493927,0.454359,0.300312,0.320301,0.310230
4,2.469636,2.493927,0.454359,0.300039,0.319186,0.306505
5,2.469636,2.493927,0.454359,0.303582,0.328493,0.313901

In [12]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/model_eval.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['n_shots']).mean()

,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,
1,2.485437,2.490291,0.799109,0.477240,0.477235,0.477240
2,2.485437,2.490291,0.799109,0.527695,0.506538,0.487368
3,2.485437,2.490291,0.799109,0.551799,0.534671,0.496334
4,2.485437,2.490291,0.799109,0.569189,0.541091,0.508594
5,2.478049,2.492683,0.798839,0.584108,0.550148,0.521806

In [14]:
df=pd.read_csv('/home/lnw8px/models/HAR_research/nosigmoid/OPP_data/FSL/no_BN.txt',delimiter=';',header=0,skiprows=0)
df.groupby(['n_shots']).mean()

,participant1,participant2,test_acc,sim_acc,svm_acc,knn_total_acc
n_shots,,,,,,
1,2.473684,2.5,0.634066,0.541187,0.541187,0.541187
2,2.473684,2.5,0.634066,0.553980,0.532009,0.532514
3,2.473684,2.5,0.634066,0.552306,0.541424,0.523467
4,2.473684,2.5,0.634066,0.574132,0.545098,0.534944
5,2.473684,2.5,0.634066,0.587594,0.555090,0.550606